 
<div class="login-page"> 

  <nav class="navbar"> 

    <h1 class="titulo">Sistema de intermediación laboral</h1> 

    <div class="nav-links"> 
      <a>Iniciar sesión</a> 
      <a (click)="irARegistro()">Registrarse</a> 
    </div> 
  </nav> 

  <div class="login-container">

  <!-- Logo centrado arriba del título -->
     <img src="assets/logo.jpg" alt="Logo ITB" class="logo-nav" />

    <h2>Bienvenido/a</h2>

    <p class="subtitulo">Ingrese a su cuenta</p>
   

    <!-- Input email con ícono -->
    <div class="input-group">
      <span class="icono">👤</span>
      <input
        type="email"
        placeholder="Correo electrónico"
        [(ngModel)]="email"
      />
    </div>

    <!-- Input contraseña con ícono -->
    <div class="input-group">
      <span class="icono">🔒</span>
      <input
        type="password"
        placeholder="Contraseña"
        [(ngModel)]="password"
      />
    </div>

    <p class="error" *ngIf="errorMsg">{{ errorMsg }}</p>

    <button (click)="iniciarSesion()">Iniciar sesión</button>

    <p class="separador">¿No tenés cuenta? <a (click)="irARegistro()">Registrate</a></p>

  </div>
  

</div>